.contact {
    padding: 130px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
    mix-blend-mode: normal;
    background-color: white;
}

.contact__header {}

.contact__paragraph {
    margin-top: 70px;
    width: 70%;
    max-width: 760px;
}

.contact__separator {
    margin-top: 70px;
    width: 200px;
    height: auto;
}

.contact__form{
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	height: 450px;
}

.contact__formwrapper{
    display: flex;
    flex-direction: column;
	margin-top: 70px;
    width: 600px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Montserrat';
    line-height: 20px;
}

.contact__formwrapper--highlighted{
    color: rgb(177, 28, 28);
    transition: 0.2s ease-in;
}

.contact__submit{
    margin-top: 45px;
}

.contact__email{
    margin-top: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    box-sizing: border-box;
    width: 100%;

    background-color:#bfbfbf;
    border: 3px solid #5e5e5e;
    color: #3d3d3d;
}

.emailSent{
    background-color: #6ed16b !important;
    border: 3px solid #2fa12b !important;
    color: darkgreen !important;
}

.emailError{
    background-color: #d44939 !important;
    border: 3px solid #b51f0e !important;
    color:darkred !important;
}

@media (max-width: 1000px) {
    .contact{
        padding: 70px 0;
    }

    .contact__formwrapper{
        width: 60%;
    }
}