.portfolio{
    background-color: #1A1A1A;
}

.portfolio__header{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	position: relative;
    height: 300px;
    /* do przetestowania: */
   
    /*
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(../../../../images/lake-background.jpg);
    background-position: center center;
	background-attachment: fixed;
    */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(../../../../images/portfolio/portfolio-background.jpg);
    background-position: center center;
}

.portfolio__footer{
    height: 50px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}