.portfolio__header{
	display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
	position: relative;
    height: 300px;
    /* do przetestowania: */
   
    /*
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(../../../../Images/lake-background.jpg);
    background-position: center center;
	background-attachment: fixed;
    */

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.32), rgba(0, 0, 0, 0.32)), url(../../../../Images/lake-background3.jpg);
    background-position: center center;
}