.landing-page {
	width: 100vw;
	height: 100vh;
	background-image: url('../../Images/landing-page-background.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
