.landing-page {
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	background-image: url('../../Images/landing-page-background.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.test {
	position: relative;
	height: 1000px;
	background-color: aqua;
}
