.hero {
	width: 100vw;
	max-width: 100%;
	height: 100vh;
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.hero__arrow{
	width: 20px;
	
    position: absolute;
    left: 50%;
	transform: translate(-50%, -100px);
	
	transition: 0.3s linear;
	animation: scroll-indicator 1s infinite;
}

@keyframes scroll-indicator{
	50%{
		transform: translate(-50%, -110px);
	}
}

