.hero {
    width: 100vw;
    max-width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(19,19,19,0.7) 75%, rgba(33,33,33,0.7) 100%), url("/images/header/tree.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.hero__arrow {
    width: 20px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -120px);

    transition: 0.3s linear;
    animation: scroll-indicator 1s infinite;
}

@keyframes scroll-indicator {
    50% {
        transform: translate(-50%, -130px);
    }
}

/* iOS devices can't deal properly with background-attachment: fixed; */
@media (max-width: 800px) {
    .hero {
        background-attachment: scroll;
    }
}
