header {
	font-family: 'Montserrat', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	font-size: 17px;
	background-color: black;
}

.nav-wrapper {
	height: 77px;
	width: 100%;
	position: fixed;
	z-index: 3;
	transition: 0.5s;
}

.nav_links {
	margin-left: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 700px;
	-ms-flex-preferred-size: 00px;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin-top: 60px;
	margin-right: 5vw;
	transition: 0.5s;
}

.scroll-links {
	margin-top: 15px;
}

.scroll-wrapper {
	background-color: black;
}

header ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-preferred-size: 24%;
	flex-basis: 24%;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	list-style: none;
	font-weight: 500;
}

header ul li a {
	color: white;
	text-decoration: none;
}

.button {
	font-size: 16px;
	margin-left: 1.5vw;
	padding: 15px 9px;
	background-color: white;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	color: black;
	font-weight: 900;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1600px) {
	header {
		font-size: 15px;
	}

	.nav-wrapper {
		height: 73px;
	}

	.button {
		font-size: 13px;
	}

	.nav_links {
		width: 500px;
	}
}

@media (max-width: 585px) {
	/*
	miejsce na kod do hamburgera
	*/

	header {
		font-size: 13px;
	}

	.button {
		font-size: 12px;
	}

	.nav_links {
		width: 300px;
	}
}
