.filter{
	display: flex;
    justify-content: center;
    background-color: #1A1A1A;
}

.filter ul {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
    color: gray;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.filter li {
	cursor: pointer;
	padding-top: 30px;
	width: 200px;
	height: 30px;
	border-bottom: 1px solid gray;
	line-height: 1.13;
	text-align: center;
	font-weight: 600;
	font-size: 0.83rem;
	transition: color 0.25s;
}

.filter li:hover {
	color: rgb(184, 184, 184);
}

.filter li.active,
.filter li.active:hover {
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}
